@import url("./Fonts.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --black-dark: #151515;
  --black: #222222;
  --light: #e4e4e4;
  --white: #ffffff;
  --white-dark: #f5f5f5;
  --primary: #ee6b00;
  --success: #76b900;
  --bgOpacity: #000000cc;
  --globalnav-backdrop-filter: saturate(180%) blur(20px);
  --boxShadowImage: #00000040 0px 0.0625em 0.0625em, #00000040 0px 0.125em 0.5em,
    #ffffff1a 0px 0px 0px 1px inset;
}
body {
  background-color: var(--light);
}
.text-primary {
  color: var(--primary);
}

.content-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom {
  margin-bottom: 100px;
  border: none;
}

.top{
  margin-top: 100px;
}

.content-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.content-btn > .sub-content {
  width: 1400px;
  margin-inline: 10px;
  color: var(--black);
}

.view-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  gap: 3px;
  border-radius: 8px;
  font-size: 13px;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--black);
}

.view-more:hover {
  opacity: 0.9;
}
